body {
    font-family: sans-serif;
    margin-top: 90px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container{
  width: 800px;
 color: blue;
 margin: 0 auto;
 font-family: sans-serif;
 padding-left: 20;
 padding-right: 20;
          }  
